ul{
    width: 100%;
    padding: 10px 10px;
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
}

li{

    height: 250px;
    width: 200px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   cursor: pointer;
  
    margin-top: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px grey;
}

.title{
    height: 30px;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.image{
    height: 190px;
    width: 100%;
    background-color: white;
   
}

img{
    height: 190px;
    width: 100%;

}


.cost{
    height: 30px;
    width: 100%;
    background-color: white;
    

    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

button{
    border:1px solid grey;
    cursor: pointer;
}




